
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>hola jovenes trabajen por favor</h1>


        <form method="get" action="Dominio.control_n_calificar_cliente">

            <input type="submit" value="Enviar este formulario" />

        </form>

    

    </div>
    <textarea id="id" rows="2" cols="20"></textarea>
    <input id="BotonAccion" type="button" value="botoncito" />

</body>
</html>
